@import helper._
@import models.forms.CreateEpisodeForm
@(show: Show, episodeForm: Form[CreateEpisodeForm])(implicit request: RequestHeader, messages: Messages)

@main("Create episode") {
    <div class="row">
        <h1>Add new episode</h1>
    </div>

    <div class="row">
    @views.html.helper.form(action = routes.EpisodesController.postCreate(show.id)) {
        @CSRF.formField
        @inputText(episodeForm("title"), 'class -> "form-control", '_label -> "Název")
        @textarea(episodeForm("description"), 'class -> "form-control", '_label -> "Popis")

        <button class="btn btn-success" type="submit">Save</button>
    }
    </div>

}
