@(show: Show, episodes: Seq[Episode])

@main("Show") {
    <div class="row">
        <h1>@show.title</h1>
    </div>
    <div class="row">
        <p>
            @show.description
        </p>
    </div>
    <div class="row">
        <h3>Episodes</h3>
    </div>
    <div class="row">
        @if(episodes.reverse.isEmpty) {

            <h5>No eposides yet.</h5>
        } else {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                @for(episode <- episodes) {
                    <tr>
                        <td>@episode.title</td>
                        <td>@episode.description</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
    <div class="row">
        <a href="@routes.EpisodesController.getCreate(show.id)" class="btn btn-primary">Add new episode</a>
    </div>
}
